

/*Background Colour*/
body {
    background-color: #916CF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#title-container {
    display: flex;
}

.quiz-word-in-title {
    color: #FFEEB6;
    margin-right: 10px;
    font-size: 50px
}

.time-word-in-title {
    color: #FFFFFF;
    font-size: 50px
}

#question {
    border: 2px solid; /* Border color and thickness */
    padding: 60px;
    border-radius: 10px; /* Optional: Add rounded corners */
    background-color: #fff;
    text-align: center;
    overflow: auto;
    width: 120px;
    height: 80px;
}

#options {
    list-style: none;
}


.quiz-option {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFEEB6;
    width: 170px;
}

#navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; /* Add margin to create space between the buttons and the content */
    width: 50%;
}

#previous-button,
#next-button {
    padding: 20px;
    border: 1px solid #000;
    background-color: #FFEEB6;
    width: 50px;
}
